.radiobutton {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
    position: relative;
}

.radiobutton:disabled {
    cursor: not-allowed
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked {
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked:after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.option {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.option:hover {
    background-color: whitesmoke
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    width: 100%;
}

.label {
    font-size: 1rem;
    font-weight: 500;
}

.value {
    font-size: 1rem;
}